<div ng-controller="NoteController as noteCtrl">
  <h2>Notes:</h2>

  <button ng-click="noteCtrl.showForm()">Add note</button>

  <form name="noteForm" ng-submit="noteCtrl.addNote(personCtrl.person)" ng-hide="noteCtrl.hideForm">
    <fieldset class="form-group">
      <textarea ng-model="noteCtrl.note.text" class="form-control" placeholder="Note Text..." title="Text" required>
      </textarea>
    </fieldset>
    <fieldset class="form-group">
      <input type="date" ng-model="noteCtrl.note.date" value="{{noteCtrl.note.date}}" required/>
    </fieldset>
    <fieldset class="form-group">
      <button type="button" ng-click="noteCtrl.cancelForm()" class="btn pull-right">Cancel</button>
    </fieldset>

    <fieldset class="form-group">
      <input type="submit" class="btn btn-primary pull-right" value="Submit" />
    </fieldset>
  </form>
  <div ng-repeat="t in personCtrl.person.notes | orderBy:'-date'">
    <blockquote>
      <form editable-form name="editableForm" onbeforesave="noteCtrl.updateNote(personCtrl.person.id, t.id, $data)">
        <pre e-class="form-control" ng-click="editableForm.$show()" editable-textarea="t.text" e-name="text" e-required e-rows="10" >{{ t.text }}</pre>
        <cite class="clearfix">—<span editable-date="t.date" e-name="date" e-required>{{t.date | date}}</span></cite>
        <div class="buttons">
          <!-- buttons to submit / cancel form -->
          <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
          </span>
        </div>
      </form>
      <span ng-click="noteCtrl.deleteNote(personCtrl.person, t)" class="glyphicon glyphicon-remove"></span>
    </blockquote>
  </div>
</div>
