<div ng-controller="TodoController as todoCtrl">
  <h3>Todos:</h3>
  <button ng-click="todoCtrl.flipShowForm()">Add todo</button>

  <form name="todoForm" ng-submit="todoCtrl.addTodo(personCtrl.person)" ng-show="todoCtrl.showForm">
    <fieldset class="form-group">
      <textarea ng-model="todoCtrl.todo.text" class="form-control" title="text" name="todotext" required></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input type="date" id="dateInput" name="input" ng-model="todoCtrl.todo.date"/required>
    </fieldset>
    <fieldset class="form-group">
      <button type="submit" class="btn btn-primary pull-right">Save</button>
      <button type="button" ng-click="todoCtrl.cancelTodoForm()" class="btn pull-right">Cancel</button>
    </fieldset>
    <div ng-show="todoCtrl.submiterror" class="bs-callout bs-callout-danger">{{todoCtrl.submiterror}}</div>
  </form>

  <div ng-repeat="t in personCtrl.person.todos | orderBy:'-date'">
    <blockquote>
      <form editable-form name="editableForm" onbeforesave="todoCtrl.updateTodo(personCtrl.person.id, t.id, $data)">
        <pre e-class="form-control" ng-click="editableForm.$show()" editable-textarea="t.text" e-name="text" e-required e-rows="10" >{{ t.text }}</pre>
        <cite class="clearfix">—<span editable-date="t.date" e-name="date" e-required>{{t.date | date}}</span></cite>
        <div class="buttons">
          <!-- buttons to submit / cancel form -->
          <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
          </span>
        </div>
      </form>
      <span ng-click="todoCtrl.deleteTodo(personCtrl.person, t)" class="glyphicon glyphicon-remove"></span>
    </blockquote>
  </div>
</div>
