<div ng-controller="TodoController as todoCtrl">
<h3>Todos:</h3>
<button ng-click="todoCtrl.flipShowForm()">Add todo</button>

<form name="todoForm" ng-submit="todoCtrl.addTodo(personCtrl.person)"
  ng-show="todoCtrl.showForm">
  <!--  Live Preview -->
  <blockquote>
    {{todoCtrl.todo.subject}}
    <cite class="clearfix">—{{todoCtrl.todo.date | date}}</cite>
  </blockquote>

  <fieldset class="form-group">
    <textarea ng-model="todoCtrl.todo.subject" class="form-control"
      placeholder="Write a short review of the product..."
      title="Subject" required>
    </textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="date" id="dateInput" name="input" ng-model="todoCtrl.todo.date"/>
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
  </fieldset>
  <div ng-show="todoCtrl.submiterror" class="bs-callout bs-callout-danger">{{todoCtrl.submiterror}}</div>
</form>

<div ng-repeat="t in personCtrl.person.todos | orderBy:'-date'">
  <blockquote>
    {{t.subject}}
    <cite class="clearfix">—{{t.date | date}}</cite>
    <span ng-click="todoCtrl.deleteTodo(personCtrl.person, t)" class="glyphicon glyphicon-remove"></span>
  </blockquote>
</div>
